{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "jest"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "worker": true,
    "serviceworker": true,
    "es6": true
  },
  rules: {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  }
}
